<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Markets
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Markets</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item *ngFor="let item of items">
      <ion-avatar slot="start">
        <img [src]="item.image" />
      </ion-avatar>
      <ion-label>
        <div>{{item.symbol}}</div>
        <div class="subtitle">{{item.id}}</div>
      </ion-label>
      <ion-note slot="end" class="ion-text-right">
        <div class="current_price">{{item.current_price}}</div>
        <div>{{item.price_change_percentage_24h | number : '1.0-2'}}%</div>
      </ion-note>
    </ion-item>
  </ion-list>
</ion-content>
